<RPM>
	<!--<Priority></Priority>-->
	<Buffers>
		<Length>1048576</Length>
		<Bucket>50</Bucket>
	</Buffers>
	<EndPoint>
		<Base>https://api.eia.gov/v2/</Base>
		<Call>petroleum/pri/gnd/data/?frequency=weekly&amp;data[0]=value&amp;facets[series][]=EMD_EPD2D_PTE_NUS_DPG&amp;sort[0][column]=period&amp;sort[0][direction]=desc&amp;offset=0&amp;length=5000&amp;api_key=EthXWE6eUTrBEJ1uTpNCqbL4NjghRxaC2R5tw1b2</Call>
	</EndPoint>
	<Delay>7.00:00:00</Delay>
	<Age>
		<TimeZone></TimeZone>
		<Days>7.0</Days>
	</Age>
	<DB>
		<ConnectionString>Server=localhost\SQLEXPRESS; Database=RPMProgrammingExcercise; Integrated Security=true;</ConnectionString>
	</DB>
</RPM>